[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
aiohttp = "*"
robobrowser = "*"
lxml = "*"
ptable = "*"
tqdm = "*"
pyinstaller = "*"

[requires]
python_version = "3.8"
